body {
	background: #f4f5f9;
	overflow-x: hidden;
}
.container {
	width: 100%;
	height: 100%;
	max-width: 1440px;
	margin: 0 auto;
	border-left: solid 1px var(--Black-blue, #42567a10);
	border-right: solid 1px var(--Black-blue, #42567a10);
	position: relative;
	&::before {
		content: '';
		z-index: -1;
		width: 1px;
		height: 100%;
		background: var(--Black-blue, #42567a10);
		position: absolute;
		top: 0;
		left: 50%;
	}
}

@media (max-width: 992px) {
	.container {
		max-width: 992px;
	}
}
