@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans'), local('PTSans-Regular'), url('./assets/ptsans.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Italic'), local('PTSans-Italic'), url('./assets/ptsansitalic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold'), local('PTSans-Bold'), url('./assets/ptsansbold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'PT Sans';
	src: local('PT Sans Bold Italic'), local('PTSans-BoldItalic'), url('./assets/ptsansbolditalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Thin'), local('BebasNeue-Thin'), url('/assets/bebasneuethin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Light'), local('BebasNeue-Light'), url('/assets/bebasneuelight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Book'), local('BebasNeueBook'), url('/assets/bebasneuebook.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Regular'), local('BebasNeueRegular'), url('/assets/bebasneueregular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Bold'), local('BebasNeueBold'), url('/assets/bebasneuebold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
